/* Grundfarben und Textformatierung */
body {
  background-color: rgb(0, 0, 0);
  color: white;
  text-align: center;
  margin: 0;
  padding: 0;
}

/* Info-Text über dem Container, mittig */
.info-text {
  color: white;
  font-size: 16px;
  margin-bottom: 20px;
  width: 100%; 
  text-align: center; 
  position: relative; 
  top: 20px; 
}

/* Überschrift zentrieren */
h1 {
  color: gold;
  font-size: 35px;
  font-weight: bold;
  text-align: center; 
  margin-top: 0; 
  padding-top: 20px;
  position: relative;
}

/* Container anpassen */
.container {
  width: 80%; /* 80% Breite für besseres zentrieren */
  margin: 0 auto; /* Zentriert den Container */
  margin-top: 50px;
  padding: 20px;
  border: 3px solid rebeccapurple; /* Lila Rahmen */
  box-sizing: border-box; /* Rahmen zur Gesamtbreite hinzufügen */
  color: gold;
  text-align: center;
}

/* Textformatierungen */
.text-center {
  color: greenyellow;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
}

/* Auswahl von Celebs */
.selected {
  border: 2px solid black;
  outline-style: solid;
  outline-color: red;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.hidden {
  opacity: 0.2;
  pointer-events: none;
}

.arrow {
  text-align: center;
  font-size: 50px;
  margin: 20px 0;
}

.budget {
  color: red;
  font-weight: bold;
  font-size: 20px;
}

/* Spalten und Bilder anpassen */
.col-2 {
  display: inline-block;
  width: 18%; 
  margin: 0 1%; /* Gleichmäßiger Abstand links und rechts der Bilder */
  vertical-align: top;
  box-sizing: border-box;
}

img {
  max-width: 100%; 
  height: auto; 
  border-radius: 10px;
}

/* Buttons */
#copyButton {
  background-color: orangered;
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

#copyButton:hover {
  background-color: blue;
}

#gamehub-btn {
  background-color: #c53030;
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 10px;
}

#gamehub-btn:hover {
  background-color: blue;
}

#suggestions-btn {
  background-color: green;
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  border: solid;
  border-radius: 5px;
  border-color: black;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 10px;
}

#suggestions-btn:hover {
  background-color: blue;
  border-style: solid;
  border-color: gold;
  color: gold;
}

/* Textbox unten (z. B. Footer oder Button-Bereich) */
.textbox {
  width: 80%; /* Breite anpassen für bessere Zentrierung */
  margin: auto; /* Zentrierung */
  height: 50%; /* Höhe halbieren */
  padding: 10px;
  background-color: black;
}