body {
  text-align: center;
  padding-top: 50px;
  color: gold;
  background-color: black;
}

h1 {
  font-size: 28px;
  margin-bottom: 20px;
}

h2 {
  font-size: 24px;
  color: lightskyblue;
  margin-bottom: 15px;
}

p {
  font-size: 18px;
  margin-bottom: 10px;
}

.container {
  margin-top: 50px;
}

.category {
  margin-bottom: 40px;
}

.category img {
  width: 100%;
  border-radius: 10px;
  border-style: solid;
  border-color: black;
  transition: border-color 0.3s ease;
}

/*
.category img:hover {
  border-color: gold;
}
*/

.category img:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
  filter: brightness(1.2);
  border-color: lawngreen;
}

#text-container {
  margin-top: 20px;
  font-size: 20px;
}

#suggestions-btn {
  background-color: green; 
  color: white;
  padding: 10px 20px;
  border: solid;
  border-radius: 5px;
  border-color: black;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 30px;
}

#suggestions-btn:hover {
  background-color: blue;
  border-style: solid;
  border-color: gold;
  color: gold;
}

#gamehub-btn {
  background-color: #c53030; /* Hintergrundfarbe */
  color: rgb(255, 255, 255); /* Schriftfarbe */
  padding: 10px 20px; /* Abstand von Text zum Button-Rand */
  border: gold; /* keine Umrandung */
  border-radius: 5px; /* abgerundete Ecken */
  font-size: 16px; /* Schriftgröße */
  cursor: pointer; /* Cursor-Veränderung beim Hover-Effekt */
  margin-bottom: 10px; /* Platz nach unten */
}

#gamehub-btn:hover {
  background-color: blue;
  border-style: solid;
  border-color: gold;
  color: gold;
}
