body {
  background-color: lightblue;
}

.container {
  margin-top: 50px;
  border-style: solid;
  border-color: orangered;
}

.selected {
  border: 2px solid red;
}

.budget {
  color: red;
}

.info-text {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  font-weight: bold;
}
