.bilder {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.option {
	margin: 10px;
	padding: 10px;
	border: 2px solid black;
	cursor: pointer;
}

.option:hover {
	background-color: lightgrey;
}

.auswahl img {
	border: 2px solid rgb(255, 0, 0);
	padding: 10px;
}

.ausgewaehlt {
	border: 2px solid red;
	padding: 10px;
}

